@keyframes lds-wedges {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-wedges {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .lds-wedges {
    position: relative;
  }
  .lds-wedges > div > div {
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
    -webkit-animation: lds-wedges 1.5s linear infinite;
    animation: lds-wedges 1.5s linear infinite;
    opacity: 0.8;
  }
  .lds-wedges > div > div > div {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px 0 0 0;
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
  }
  .lds-wedges > div div:nth-child(1) > div {
    background: #ff0000;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(1) {
    -webkit-animation-duration: 0.375s;
    animation-duration: 0.375s;
  }
  .lds-wedges > div div:nth-child(2) > div {
    background: #2800ff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(2) {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  .lds-wedges > div div:nth-child(3) > div {
    background: #2ccc0e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(3) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
  }
  .lds-wedges > div div:nth-child(4) > div {
    background: #00e5ff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(4) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  .lds-wedges {
    width: 153px !important;
    height: 153px !important;
    -webkit-transform: translate(-76.5px, -76.5px) scale(0.765) translate(76.5px, 76.5px);
    transform: translate(-76.5px, -76.5px) scale(0.765) translate(76.5px, 76.5px);
  }